html{
  font-family: Roboto;
  margin: 0;
  height: 100vh;
}

body{
  background-image: url(
    https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb
  );
  background-size: cover;
  background-position: 46%;
  background-repeat: no-repeat;
}


.container{
  width: 340px;
  margin: 100px auto;
  opacity: 0.9;
}

h1{
  color: white;
  padding: 13px 20px;
  background-color: #2389ff;
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 60px;
  border-radius: 20px 0px 0px;
}

h1 .fa-plus{
  float: right;
  transition: 0.4s;
  margin: 20px;
  cursor: pointer;
}

.fa-plus:hover{
  transform: scale(1.2);
}

h1 .fa-trash-o{
  float: right;
  padding: 20px 0;
  transition: 0.4s;
  cursor: pointer;
}

h1 .fa-trash-o:hover{
  transform: scale(1.2);
}

.completed{
  color: gray;
  text-decoration: line-through;
}

input{
  width: 100%;
  height: 60px;
  padding: 13px 20px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  border: none;
}

input::placeholder{
  opacity: 0.6;
}

ul{
  background-color: #ededed;
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-height: 400px;
  overflow-y: scroll;
}

li{
  height: 50px;
  line-height: 50px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #4e4e4e;  
  transition: background-color 0.5s;
}

li:nth-of-type(2n){
  background-color: #ffffff;
}

#removeIcon{
  width: 20px;
  height: 50px;
  text-align: center;
  display: inline-block;
  transition: 0.2s;
  line-height: 50px;
  cursor: pointer;
  color: transparent;
}

#removeIcon:hover{
  height: 50px;
  padding: 0px;
  background-color: red;
  width: 40px;
  text-align: center;
  display: inline-block;
  color: white;
}

#importantIcon{
  float: right;
  display: inline-block;
  padding: 0px 10px;
}

.emptyStar{
  text-align: center;
  display: inline-block;
  transition: 0.2s;
  line-height: 50px;
  cursor: pointer;
  color: black;
}

.selectedStar{
  text-align: center;
  display: inline-block;
  transition: 0.2s;
  line-height: 50px;
  cursor: pointer;
  color: gold;
}

.strong{
  font-weight: 900;
}



